h1 {font-size: 2em; margin: 0.67em 0 !important;}
h2 {font-size: 1.5em;}
h3 {font-size: 1.17em;}
h4 {font-size: 1em;}
h5 {font-size: .83em;}
h6 {font-size: .67em;}

.flex-end {
    justify-content: flex-end;
}

@media (max-width: 600px) {
    .s-center-align {
        text-align: center !important;
    }
    .s-clear {
        clear: both;
    }
    .s-flex-center {
        justify-content: center;
    }
}

/* Component */
.info {
    margin-block-start: 0;
    margin-block-end: 0;
}

.box-container {
    display: flex;
}

.white-box {
    padding: 3px 10px;
    width: fit-content;
    margin: 0;
    border-radius: 60px;
    background-color: #fff;
    color: #0277bd;
    font-weight: 700;
}

.white-box > * {
    margin: 0;
}

div.scrollmenu {
    /* background-color: #333; */
    overflow: auto;
    white-space: nowrap;
    scrollbar-width: none;  
}

div.scrollmenu a {
    display: inline-block;
    color: #424242;
    text-align: center;
    padding: 9px 14px;
    text-decoration: none;
    border-radius: 8px;
    transition: 1300ms;
}

div.scrollmenu a:hover,
div.scrollmenu a.active {
    background-color: #f0f0f0;
    transition: 1300ms;
}

.scrollmenu::-webkit-scrollbar {
    display: none;
}

/* Team card */

        
span.stat:not(.badge) {
    margin-right: 0.5em;
}

span.stat span {
    font-size: .8em;
    vertical-align: sub;
    margin-left: 0.2em;
}

.standings {
    max-width: 720px;
}

.team-item {
    display: grid;
    grid-template-columns: 1fr 8fr;
    padding: 1rem 1rem 1rem 0.8rem;
    border-radius: 20px;
    background-color: #f7f7f7;
    margin: .5rem .1em 0;
    box-shadow: none;
}

.team-item hr {
    border: 0.5px solid #4242421a;
}

.team-item img {
    width: 4rem;
    height: 4rem;
    margin: auto;
}

.team-item .team-item-content {
    padding-left: 1em;
}
span.badge {
    border-radius: 15px;
    color: #fff;
}
.bdg-color-1 {
    background-color: #ffab00;
}
.bdg-color-2 {
    background-color: #f57c00;
}
.bdg-color-3 {
    background-color: #ff5722;
}
.bdg-color-4 {
    background-color: #bf360c;
}

/* Footer */
footer li a {
    color: #fff;
}